body {
	padding-top:70px;
	font-family: 'Varela Round', sans-serif;
	background:  #edf8f6;
}

hr {
	 border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

#new {
	color:tomato; 
}


.additionalInfo {
	text-align: center;
	text-shadow: 2px 2px 50px #183c37; 
}

.thumbnail{        
    width: 100%; 
    height: 400px;
    overflow: auto;
    background:rgba(119,136,153,0.1);
}

.thumbnail img {
	border-radius: 5px;
	border:1px solid rgba(60,60,60,0.1);
	max-height: 340px;
	min-width: 200px;
}
.thumbnail img:hover {
	opacity: 0.5;
}

.btn-default {
	background: rgba(119,136,153,0.1);
}
.container .jumbotron {
	color: #183c37;
	background: rgba(119,136,153,0.1);
	padding:2%;
}

.navbar-inverse {
	background: #183c37;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background: rgba(255,255,255,0.1);
}
.navbar-inverse .navbar-brand {
    color: white;
}

.currentlyActive {
	background: rgba(255,255,255,0.1);	
}

@media (max-width: 600px) {

}

