/*animation for burgermenu effect*/
.menuButtonAnimation {
    display: block;
    position: relative;
    right: 0;
    width: 5.4em;
    height: 5.4em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    background-color: rgba(50, 50, 50, 0);
}

.menuButtonAnimation:focus {
    outline: none;
}

/*middle*/
.menuButtonAnimation span {
    display: block;
    position: absolute;
    top: 2.11em;
    left: .945em;
    right: .945em;
    height: 0.42em;
    background: rgb(246, 52, 44);
    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
}


/*top and bottom*/
.menuButtonAnimation span::before,
.menuButtonAnimation span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 0.42em;
    background-color: rgb(246, 52, 44);
    content: "";
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s;
}

.menuButtonAnimation span::before {
    top: 1.05em;
    transition-property: top, transform;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, -webkit-transform;
}

.menuButtonAnimation span::after {
    bottom: 1.05em;
    transition-property: bottom, transform;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, -webkit-transform;
}


/* active state, i.e. menu open */

.menuButtonAnimation.is-active {
    background-color: rgba(50, 50, 50, 0);
}

.menuButtonAnimation.is-active span {
    background: none;
}

.menuButtonAnimation.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.menuButtonAnimation.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menuButtonAnimation.is-active span::before,
.menuButtonAnimation.is-active span::after {
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s;
}


/*checkbox*/

input[type=checkbox] {
    visibility: hidden;
}

.slideThree {
    width: 8em;
    height: 2.6em;
    background: gray;
    position: relative;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.slideThree:after {
    content: 'NEI';
    font: 12px/26px Arial, sans-serif;
    color: #000;
    position: absolute;
    right: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .15);
}

.slideThree:before {
    content: 'JA';
    font: 1.2em/2.6em Arial, sans-serif;
    color: white;
    position: absolute;
    left: 1em;
    font-weight: bold;
}

.slideThree label {
    display: block;
    width: 3.4em;
    height: 2em;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    cursor: pointer;
    position: absolute;
    top: 0.3em;
    left: 0.3em;
    z-index: 1;
    background: rgb(200, 200, 200);
}

.slideThree input[type=checkbox]:checked + label {
    left: 4.3em;
}