* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

a {
    color: white;
}
html, body {
    height: 100%;
}
body {

    min-width: 200px;
    color: black;
}

button {
    border: none;
    font-weight: 700;
    background: rgb(50, 50, 50);
    font-size: 20px;
    outline: none;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.sikkerhetinnlandetColor {
    color: rgb(246, 52, 44);
    text-shadow: 1px 1px 1px rgb(50, 50, 50);
    letter-spacing: 1px;
    font-size: 1.1em;
}


/*navbar styling*/

#navbar {
    background-color: rgb(255, 255, 255);
    height: 6em;
}


/*content in navbar*/

header nav ul:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: inherit;
}


/*logo*/

header nav ul li#brand {
    padding: 8px 0 0 8px;
}

header nav ul li#brand a img {
    max-height: 80%;
    max-width: 100%;
}


/*menu*/

header nav ul button#showMenuButton {
    margin: 3px 10px 10px 10px;
}


/*size of content in the navbar*/

header nav ul:nth-of-type(1) li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: inherit;
}


/*makes it invisable when not clicked*/

.menuContent {
    display: none;
    background-color: rgb(50, 50, 50);
    height: 0px;
}


/*makes menu visable on click*/

.showMenu {
    display: block;
}


/*styling for every element in the first dropdown*/

.menuContent a {
    display: block;
    padding: 10.5px;
    -webkit-transition-delay: 2.0s;
    transition-delay: 2.0s;
    -webkit-transition: all 2s;
    transition: all 2s;
}


/*removes highlight*/

.noSelection {
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}


/*animation for burgermenu effect*/

.menuButtonAnimation {
    display: block;
    position: relative;
    overflow: hidden;
    width: 72px;
    height: 72px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    background-color: rgba(50, 50, 50, 0);
}

.menuButtonAnimation:focus {
    outline: none;
}

.menuButtonAnimation span {
    display: block;
    position: absolute;
    top: 33px;
    left: 13.5px;
    right: 13.5px;
    height: 6px;
    background: rgb(246, 52, 44);
    transition: background 0s 0.3s;
}

.menuButtonAnimation span::before,
.menuButtonAnimation span::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: rgb(246, 52, 44);
    content: "";
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.menuButtonAnimation span::before {
    top: -15px;
    transition-property: top, transform;
}

.menuButtonAnimation span::after {
    bottom: -15px;
    transition-property: bottom, transform;
}


/* active state, i.e. menu open */

.menuButtonAnimation.is-active {
    background-color: rgba(50, 50, 50, 0);
}

.menuButtonAnimation.is-active span {
    background: none;
}

.menuButtonAnimation.is-active span::before {
    top: 0;
    transform: rotate(45deg);
}

.menuButtonAnimation.is-active span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menuButtonAnimation.is-active span::before,
.menuButtonAnimation.is-active span::after {
    transition-delay: 0s, 0.3s;
}


/*footer*/

footer {
    background-color: rgba(50, 50, 50, 1);
}

footer .flexContainerFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

footer .flexContainerFooter li:nth-of-type(1) {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

footer .flexContainerFooter .partnership img {
    width: 35%;
    padding: 15px 7% 15px 7%;
}

footer .flexContainerFooter > li:nth-of-type(2) {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    padding-left: 5px;
}

footer .flexContainerFooter > li:nth-of-type(3) {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

footer .flexContainerFooter > li:nth-of-type(4) {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    text-align: center;
    font-size: 7vw;
    padding: 25px;
    color: rgba(30, 30, 30, 0.8);
    font-weight: 900;
}

.socialMedia {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.socialMedia a {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.socialMedia a img {
    width: 18vw;
    padding-right: 20px;
}


.footerLinks > * {
    font-size: 4vw;
    padding: 10px 0 10px 0;
    margin: 5px 0 5px 30px;
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
    font-weight: 900;
    text-align: center;
}

.footerLinks a {
    color: rgba(50, 50, 50, 1);
    display: block;
}