footer {
    background-color: rgb(60, 60, 60);
    padding-top: 1em;
}

.displayFlexFooter {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.displayFlexFooter > li {
    background-size: contain;
    background-position: center;
    height: 7em;
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%;
    margin: 1% 1% 1% 1%;
}

.displayFlexFooter > li:nth-of-type(1) {
    background-image: url(pictures/logo/hlf.gif);
}

.displayFlexFooter > li:nth-of-type(2) {
    background-image: url(pictures/logo/verisure_logo.png);
}

.displayFlexFooter > li:nth-of-type(3) {
    background-image: url(pictures/logo/siemens.png);
}

.displayFlexFooter > li:nth-of-type(4) {
    background-image: url(pictures/logo/United_Technologies.svg.png);
}

.displayFlexFooter > li:nth-of-type(5) {
    background-image: url(pictures/logo/Vicon_Industries_Logo.png);
}

.displayFlexFooter > li:nth-of-type(6) {
    background-image: url(pictures/logo/heraslogo.png);
}

.displayFlexFooter .footerFlex {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.footerFlex {
    padding-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

.footerFlex > li {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2em;
    padding: 0.3em;
}

.footerSplit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
} 
.footerSplit * {
    margin: 0.3em;
    text-align-last: center;
    color: rgb(80,80,80);
}
.copyright {
    text-align-last: center;
    font-size: 4em;
    color: rgb(50, 50, 50);
}

/*DESKTOP*/

@media (min-width: 701px) {
    .displayFlexFooter > li {
        -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
    }
}