/*Main*/


/*the slider*/

#slides {
    position: relative;
    height: 13em;
    background-color: white;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
}


/*display the wanted picture*/

.showing {
    opacity: 1;
}

.slide {
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.slide:nth-of-type(1) {
    background-image: url(pictures/verisure.png);
}

.slide:nth-of-type(2) {
    background-image: url(pictures/exacqVision.png);
}

.slide:nth-of-type(3) {
    background-image: url(pictures/heras.png);
}


/*change slide buttons*/

#slideButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    height: 100%;
}


/*buttons that is on the slider*/

#slideButtons .prevButton,
#slideButtons .nextButton {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    cursor: pointer;
    z-index: 1;
}

#slideButtons {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.mainContentFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.mainContentFlex li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.mainContentFlex li:nth-of-type(1) {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: white;
}

.mainContentFlex li:nth-of-type(1) * {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    padding: 10px;
}

.mainContentFlex li:nth-of-type(1) p {
    font-size: 22px;
}

.mainContentFlex li:nth-of-type(1) h1 {
    font-size: 20px;
}

.mainContentFlex li:nth-of-type(2) {
    background-color: rgb(220, 220, 220);
    height: 450px;
}

.mainContentFlex li:nth-of-type(3) {
    height: 450px;
}

.mainContentFlex li:nth-of-type(3) img {
    width: 100%;
}

.mainContentFlex li:nth-of-type(4) {
    background-color: rgb(220, 220, 220);
    height: 450px;
}