main {
    background-color: rgb(60, 60, 60);
}

.displayFlexMain .contactUsButton {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: red;
    font-size: 2em;
    margin: 1em;
    padding: 0.5em;
    cursor: pointer;
    border-radius: 0.5em;
}

.displayFlexMain .contactUsButton a {
    color: white;
    letter-spacing: 0.2em;
    text-shadow: 1px 1px 2px rgb(50, 50, 50);
}

.displayFlexMain #errand {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: white;
    background-color: rgb(100, 100, 100);
    font-size: 4em;
    text-shadow: 1px 1px black;
    padding: 1em;
}

section.displayFlexMain {
    flex-direction: column;
}
#containerOne,
#containerTwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

#containerOne li,
#containerTwo li {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    width: 100%;
    height: 20em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


#containerOne li:nth-of-type(1) {
    background-image: url(pictures/background/bolig.jpg);
}

#containerOne li:nth-of-type(2) {
    background-image: url(pictures/background/bedrift.jpg);

}

#containerOne li:nth-of-type(3) {
    background-image: url(pictures/background/surveillance.jpg);
}

#containerTwo li:nth-of-type(1) {
    background-image: url(pictures/background/yale.jpg);
}

#containerTwo li:nth-of-type(2) {
    background-image: url(pictures/background/stengsel.jpg);
}

#containerTwo li:nth-of-type(3) {
    background-image: url(pictures/background/service.jpg);
}

#containerOne li a,
#containerTwo li a {
    color: rgb(233, 233, 233);
    text-shadow: 1px 1px 1px rgb(10,10,10), -1px -1px 2px rgb(10,10,10);
    font-size: 2.8em;
    width: 100%;
    padding: 25% 0 25% 0;
    
}
