* {
    padding: 0;
    margin: 0;
}

html {
    max-width: 100%;
}

body {
    font-size: 62.5%;
    min-width: 262px;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    font-weight: 900;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

#mySidenav .currentlyActive {
    color: rgb(242, 51, 43);
}

.displayFlexHeader,
.displayFlexMain,
.displayFlexFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}


/*introduction*/

#introduction {
    background: url(pictures/background/sec.jpg) no-repeat;
    background-size: cover;
    background-position: left;
    box-sizing: border-box;
    height: 36em;
}

#introduction .introDisc {
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 900;
    margin-top: 14em;
    color: white;
    text-shadow: 0 0 1px black;
}


/*Nav-element sizes*/

.displayFlexHeader .brand, header div div nav.desktopNav .brand {
    background-image: url(pictures/logo/SikkerhetInnlandet_logo_2014.png);
    background-size: contain;
    background-repeat: no-repeat;
    flex: 3;
}

.removeBrand {
    z-index: -1;
}


/*side nav*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(240, 240, 240, 0.96);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0;
}

.sidenav a {
    padding: 0.5em 0.5em 0.5em 1em;
    color: black;
    font-weight: 900;
    letter-spacing: 0.1em;
    display: block;
    font-size: 2.3em;
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.sidenavOpen {
    width: 70%;
    padding: 1em;
}

.overflow {
    position: fixed;
    overflow: hidden;
}

.desktopView {
    display: none;
}


/*DESKTOP*/

@media (min-width: 551px) {
    
    .desktopView {
        display: block;
    }
    .mobileView {
        display: none;
    }
    .desktopNav {
        height: 5em;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        width: 100%;
        display: flex;
    }
    .desktopNav > * {
        flex: 0.5;
    }
    .desktopNav > a {
        color: black;
        text-align: center;
        font-size: 3em;
    }
    .desktopNav > a.hoverMe:hover {
        border-bottom: 5px solid red;
        color: red;
        transition: all 0.2s;
    }
    .desktopNav > a.currentlyActive {
        color: red;
        border-bottom: 5px solid red;
    }
    
    header div div nav.desktopNav .brand {
        margin-left: 1em;
    }
    #introduction {
        height: 50em;
        background-position: right;
    }
    #introduction .brand {
        height: 6em;
        margin-left: 1em;
    }
    #introduction .introDisc {
        margin-top: 27em;
    }
    
    #introduction a.desktopView {
        font-size: 2.4em;
        color: rgb(0, 0, 0);
        padding: 0.5em 2% 0 2%;
    }

}