body {
	width: 70%;
	margin: 0 auto;
}

img {
	float:left;
	margin: 0 0 10px 10px;
	padding-right: 2%;
}
div {
	clear:left;
}

p {
	line-height: 2em;
}

p::first-letter {
	font-size: 100px;
	color: gold;
}


.table {
	display: table;
	border: 1px solid black;
	background: silver;
	width: 100%;
	margin-bottom: 2%;
	text-align: center;
	color: black;
}

.row {
	display: table-row;
}

.row:nth-child(even) {
	color: darkblue;
	text-shadow: 1px 1px black;
}
.row:nth-child(odd) {
	color: blue;
	text-shadow: 1px 1px black;
}

.cell {
	display: table-cell;
	border: 1px solid black;
	font-size: 25px;
} 

.caption {
	display: table-caption;
	text-align: center;
	background: lightblue;
	border: 2px solid black;
}



