body {
    background-color:#556B2F;
}


#liste {
    color:#808080;
}

#liste01 {
    background-color:#551A8B;
}

#doorbells {
    padding-left: 100px;
}

#sleighbells {
    padding-left: 400px;
}

#schnitzel {
    padding-left: 75px;
}
