
/*
ul > li:hover {
    background-color: rgba(30, 30, 30, 0.4)
}
*/
header {
        background-color:rgba(47, 55, 76, 0.9);

}

main {
    margin-top: 7em;
    text-align: center;
    margin-bottom: 20em;
}
main li {
    margin-top: 1em;
    font-size: 2em;
    cursor: pointer;
    color: #c55c58;
    text-shadow: 0 0 0.001em black;
}

main li:hover {
    background-color: rgba(50, 50, 50, 0.3);
}
.answer {
    border-bottom: 0.1em solid black;
    margin: 0 0 1em 0;
    color: black;
    padding: 1em;
    font-size: 18px;
    width: 50%;
    margin: 0 auto;
    display: none;
}

.displayAnswer {
    display: block;
}

.color{
	background-color: black;
	

}


.form-control{
    margin: 1em;
	width: 35em;
	height: 2.5em;
}



